<section class=" flex  flex-col  md:flex-row md:p-20 py-10 gap-y-10">
  <div class=" flex-1 grid grid-cols-2 gap-4 ">
    <div class=" text-center hover:bg-purple-600 rounded-xl">
      <img src="favicon.svg" alt="" class="w-20 m-auto" />
      <p class="mt-4">Dev Managment</p>
    </div>
    <div class=" text-center hover:bg-purple-600 rounded-xl">
        <img src="favicon.svg" alt="" class="w-20 m-auto" />
        <p class="mt-4">Dev Managment</p>
      </div>
      <div class=" text-center hover:bg-purple-600 rounded-xl">
        <img src="favicon.svg" alt="" class="w-20 m-auto" />
        <p class="mt-4">Dev Managment</p>
      </div>
      <div class=" text-center hover:bg-purple-600 rounded-xl">
        <img src="favicon.svg" alt="" class="w-20 m-auto" />
        <p class="mt-4">Dev Managment</p>
      </div>
  </div>

  <div class=" flex flex-1 flex-col gap-y-10 text-center ">
    <h2 class=" text-5xl font-bold">Lorem ipsum dolor sit amet.</h2>
    <p class=" text-3xl text-zinc-400">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, impedit?</p>
  </div>
</section>
