---
import Layout from "../layouts/Layout.astro"

---


<Layout title={"Acerca del sitio"}>
    <h1>About</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsa officiis cum nesciunt illo doloremque, itaque odit nemo incidunt modi fugit facilis amet repellat harum similique facere optio ducimus. Quaerat illum deleniti repellendus magni soluta blanditiis nulla cumque? Facilis quia incidunt nobis, explicabo iusto, debitis quo ipsa error minima impedit distinctio, hic necessitatibus. Mollitia nobis maxime at, sit optio perspiciatis porro blanditiis eligendi quo totam exercitationem? Dolorem, exercitationem pariatur. Ab itaque omnis temporibus ea. Veritatis neque quos quaerat odit officiis, ipsum veniam placeat. Iste impedit ducimus numquam fuga sequi sunt, explicabo dolores sint illum saepe quasi corrupti natus eos, facere dolore.</p>
</Layout>